*{
    margin: 0%;
    padding: 0%;
    background-color: 	#dfe3ee;
}

.textbox{
    margin-top: 200px;
    margin-left: 150px;
}

.textbox h1{
    font-size: 80px;
    color: #1877f2;
    font-family: sans-serif;
}

.textbox h2{
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.container{
    float: right;
    margin-top: -194px;
    margin-right: 160px;
    width: 390px;
    height: 355px;
    background-color: white;
    text-align: center;
    
}

.form{
    float: right;
    background-color: white;
    margin-top: -12px;
    padding: 20px;
}

.credential{
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 8px;
    padding: 17px;
    width: 332px;
}

.login{
    margin-top: 15px;
    background-color:#1877f2 ;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

.login:hover{
    background-color:#126de2 ;
}

p{
    color: #1877f2;
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

p a{
    color: #1877f2;
    background-color: white;
}

.btn{
    background-color: #1b9c24;
    color: white;
    margin-top: 7px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 16px;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 8px;

}
.btn:hover{
    background-color: #28b632;
}

@media screen and (max-width: 1024px) {
    /* Adjust styles for tablet devices */
    .textbox {
        margin-top: 150px;
        margin-left: 100px;
    }
    .textbox h1 {
        font-size: 60px;
    }
    .textbox h2 {
        font-size: 20px;
        width: 400px;
    }
    .container {
        margin-top: -150px;
        margin-right: 80px;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 920px) {
    /* Adjust styles for tablet devices */
    .textbox {
        margin-top: 150px;
        margin-left: 50px;
    }
    .textbox h1 {
        font-size: 50px;
    }
    .textbox h2 {
        font-size: 18px;
        width: 350px;
    }
    .container {
        margin-top: -150px;
        margin-right: 65px;
        width: 275px;
        height: 275px;
    }
    .credential {
        width: 250px;
    }

}

@media screen and (max-width: 770px) {
    /* Adjust styles for tablet devices */
    .textbox {
        margin-top: 150px;
        margin-left: 35px;
    }
    .textbox h1 {
        font-size: 45px;
    }
    .textbox h2 {
        font-size: 17px;
        width: 300px;
    }
    .container {
        margin-top: -150px;
        margin-right: 60px;
        width: 250px;
        height: 250px;
    }
    .credential {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .textbox {
        margin-top: 100px;
        margin-left: 50px;

        
    }
    .textbox h1 {
        font-size: 40px;
    }
    .textbox h2 {
        font-size: 15px;
        width: 300px;
    }
    .container {
        margin-top: 50px;
        margin-right: 55px;
        width: 250px;
        height: 250px;
    }
    .credential {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .textbox {
        margin-top: 70px;
        margin-left: 50px;
        
    }
    .textbox h1 {
        font-size: 40px;
    }
    .textbox h2 {
        font-size: 15px;
        width: 300px;
    }
    .container {
        margin-top: 50px;
        margin-right: 55px;
        width: 250px;
        height: 100px;
    }
    .credential {
        width: 200px;
        height: 10px;
    }
    .btn{
        padding: 7px;
        width: 80%;
        margin-left: 22px;
        font-size: 15px;
    }

    .login{
        font-size: 15px;
        padding: 12px;
        width: 90%;
    }

    p{
        font-size: 13px;
    }
}